form {
    text-align: center;
  }

  button{
      margin: 1%;
  }

  .Display {
    margin-left: 400px;
    margin-top: 5px;
    background-color: rgb(224, 224, 224);
    width: 800px;
    height: 400px;
  }