header {
    text-align: center;
    background-color:rgb(37, 37, 37);
    color: white;
    padding: 1%;
}
nav{
   clear: both;
    display: flex;

    ul{
        display: inline-block;
    }
    ul li{
        
        display:inline;
        margin: 2%;
        
    }
    ul li a{
        text-decoration: none;
        color:rgb(114, 125, 228);
    }
}
